{% extends "base.html.twig" %}

{% block title %}{{ parent() }}: Accueil{% endblock %}


{% block body %}
    <div class="col-t4 col-12">
    <form class="back">
       {{ form_start(searchForm) }}

        <div>
            {{ form_label(searchForm.site) }}
            {{ form_widget(searchForm.site) }}
            {{ form_errors(searchForm.site) }}
        </div>
        <div>
            {{ form_label(searchForm.nom) }}
            {{ form_widget(searchForm.nom) }}
            {{ form_errors(searchForm.nom) }}
        </div>
        <div class="form-wrapper">
            <div class="form-field">
                {{ form_label(searchForm.date_one) }}
                {{ form_widget(searchForm.date_one) }}
                {{ form_errors(searchForm.date_one) }}
            </div>
            <div class="form-field">
                {{ form_label(searchForm.date_two) }}
                {{ form_widget(searchForm.date_two) }}
                {{ form_errors(searchForm.date_two) }}
            </div>
        </div>
        <div>
            {{ form_widget(searchForm.sorties_orga) }}
            {{ form_label(searchForm.sorties_orga) }}
            {{ form_errors(searchForm.sorties_orga) }}
        </div>
        <div>

            {{ form_widget(searchForm.sorties_inscrit) }}
            {{ form_label(searchForm.sorties_inscrit) }}
            {{ form_errors(searchForm.sorties_inscrit) }}
        </div>
        <div>
            {{ form_widget(searchForm.sorties_nonInscrit) }}
            {{ form_label(searchForm.sorties_nonInscrit) }}
            {{ form_errors(searchForm.sorties_nonInscrit) }}
        </div>
        <div class="margB15">
            {{ form_widget(searchForm.sorties_passees) }}
            {{ form_label(searchForm.sorties_passees) }}
            {{ form_errors(searchForm.sorties_passees) }}
        </div>
        {{ form_end(searchForm) }}
    </form>
    <div class=" back ">
        <table class="">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Site</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
                <th>Actions Admin</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr class="test">
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date('Y-m-d H:i') }}</td>
                    <td>{% if sortie.site  is not empty %}{{ sortie.site.nom }}{% endif %}</td>
                    <td>{{ sortie.dateLimiteInscription | date('Y-m-d') }}</td>
                    <td>{{count[sortie.id] }} / {{ sortie.nbInscriptionMax }}</td>


                    <td> {% if sortie.etatId  is not empty %}{{ sortie.etatId.libelle }}{% endif %}</td>

                    <td> {{ count[sortie.id] }}</td>
                    <td>
                        {% if sortie.organisateur is not null %}
                            <a href="{{ url('user_profil', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                        {% endif %}
{#                        <a href="{{ url('user_profil',{'id': sortie.organisateur.id}) }}">{% if sortie.organisateur is not empty %}{{ sortie.organisateur.pseudo }} {% endif %}</a>#}
                    </td>

                    <td>
                        {%if sortie.etatId != null and sortie.etatId.id == 3 %}
                        {# si etat = création ET id de la personne connectée = id sortie.organisateur #}
                      <a href="{{ url('sortie_update',{'id':sortie.id}) }}"><img src="{{ asset('images/6.png')}}"  title="Modifier" class="image2"></a>
                        <a href="{{ url('sortie_newEtat', {'id':sortie.id}) }}"><img src="{{ asset('images/7.png') }}" title="Publier" class="image2"></a>
                        {% else %}
                        <a href="{{ url('sortie_detail', {'id':sortie.id}) }}"><img src="{{ asset('images/1.png') }}" title="Afficher" class="image2"></a>
                        {% endif %}

                        {% if sortie.etatId != null and sortie.etatId.id == 4 and sortie not in user.getSorties() %}
                          <a href="{{ url('sortie_suscribe', {'id': sortie.id }) }}"><img src="{{ asset('images/4.png') }}" title="S'inscrire" class="image2"></a>

                        {% elseif sortie.etatId != null and sortie.etatId.id == 4 and sortie in user.getSorties() %}
                           <a href="{{ url('sortie_unsuscribe', {'id': sortie.id }) }}"><img src="{{ asset('images/3.png') }}" title="Se désinscire" class="image2"></a>
                        {% endif %}

                        {% if sortie.organisateur is not null and app.user.id == sortie.organisateur.id %}
                           <a href="{{ url('sortie_cancel', {'id': sortie.id }) }}"><img src="{{ asset('images/5.png') }}" title="Annuler" class="image2"></a>
                        {% endif %}
                        {#  Si d de la personne connectée != id sortie.organisateur #}
                        {# Si inscrit #}


                        {# sinon #}

                        {# endif #}
                        {# endif #}

                    </td>
                    <td> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <button class="ajout"><a href="{{ url('sortie_create') }}">Créer une sortie</a> </button>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ importmap ('app') }}
{% endblock %}