{% extends "base.html.twig" %}

{% block title %}{{ parent() }}: Accueil{% endblock %}


{% block body %}
    <h2>Filtrer les sorties</h2>

    <div>
    <table>
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/Places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateHeureDebut | date('Y-m-d') }}</td>
            <td>{{ sortie.dateLimiteInscription | date('Y-m-d') }}</td>
            <td>*/{{ sortie.nbInscriptionMax }}</td>


                <td> {% if sortie.etatId  is not empty %}{{ sortie.etatId.libelle }} {% endif %}</td>

            <td></td>
            <td> {% if sortie.organisateur is not empty %}{{ sortie.organisateur.pseudo }} {% endif %}</td>

            <td>

                {# si etat = création ET id de la personne connectée = id sortie.organisateur #}
                <a href="{{ url('sortie_update') }}">Modifier</a>
                <a href="">Publier</a>
                {# Sinon #}
                <a href="{{ url('sortie_detail') }}">Afficher</a>
                {# endif #}

                {# Si etat = ouvert ET id de la personne connectée = id sortie.organisateur  #}
                <a href="{{ url('sortie_delete') }}">Annuler</a>
                {# endif #}

                {#  Si d de la personne connectée != id sortie.organisateur #}
                    {# Si inscrit #}
                {#  <a href="{{ url('sortie_suscribe') }}">Se désister</a> #}
                    {# sinon #}
                {#  <a href="{{ url('sortie_unsuscribe') }}">S'inscrire</a>#}
                    {# endif #}
                {# endif #}

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div>
        <a href="{{ url('sortie_create') }}"><input type="submit" value="Créer une sortie"></a>
    </div>
{% endblock %}

{% block js %}

{% endblock %}