{% extends 'base.html.twig' %}

{% block title %}
    Inscrire des membres
{% endblock %}

{% block body %}
    <h1>Inscrire des membres</h1>
    <div class="back">
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
    <div>
        {{ form_label(form.list_of_users) }}
        {{ form_widget(form.list_of_users) }}
        {{ form_errors(form.list_of_users) }}
    </div>
    {{ form_end(form) }}
    </div>
{% endblock %}