{% extends "base.html.twig" %}

{% block title %}{{ parent() }}: Accueil{% endblock %}


{% block body %}
    <table>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Site</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th scope="col">Supprimez</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td scope="row">{{ site.id }}</td>

                <td>{{ site.nom }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td> <button class="delete"><a href="{{ url('admin_deleteSite', {'id': site.id }) }}">Supprimer</a></button><button><a href="{{ url('admin_updateSite', {'id': site.id}) }}">Modifier</a></button></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url('admin_createSite') }}">Ajouter</a>

{% endblock %}

{% block js %}

{% endblock %}