{% extends "base.html.twig" %}

{% block title %}{{ parent() }}: Accueil{% endblock %}


{% block body %}
<div class="back">
    <table>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Site</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th scope="col">Supprimez</th>
                <th scope="col">Modifer</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr>
                <td scope="row">{{ site.id }}</td>

                <td>{{ site.nom }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td> <a href="{{ url('admin_deleteSite', {'id': site.id }) }}"><img src="{{ asset('images/5.png') }}" class="image2"></a></td>
                    <td><a href="{{ url('admin_updateSite', {'id': site.id}) }}"><img src="{{ asset('images/6.png') }}" class="image2"></a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="ajout"><a href="{{ url('admin_createSite') }}">Ajouter</a></button>
</div>
{% endblock %}

{% block js %}

{% endblock %}