{% extends 'base.html.twig' %}

{% block title %}
    Détails de la sortie
{% endblock %}

{% block body %}
    <h1>Détails de la sortie</h1>
    <form class="back">
        <div id="sortie ">
            <div>
                <label for="sortie_nom">Nom</label>
                <input id="sortie_nom" type="text" value="{{ sortie.nom }}" disabled>
            </div>
            <div>
                <label for="sortie_date">Date et heure de la sortie</label>
                <input id="sortie_date" type="datetime-local" value="{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}" disabled>
            </div>
            <div>
                <label for="sortie_limite">Date limite d'inscription</label>
                <input id="sortie_limite" type="datetime-local" value="{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}" disabled>
            </div>
            <div>
                <label for="sortie_duree">Durée (en minutes)</label>
                <input id="sortie_duree" type="number" value="{{ sortie.duree }}" disabled>
            </div>
            <div>
                <label for="sortie_nb_inscrits">Nombre de places</label>
                <input id="sortie_nb_inscrits" type="number" value="{{ sortie.nbInscriptionMax }}" disabled>
            </div>
            <div>
                <label for="sortie_nb_inscrits">Description</label>
                <input id="sortie_nb_inscrits" type="text" value="{{ sortie.description }}" disabled>
            </div>
            <div>
                <button>
                <a href="{{ url('home_home') }}">Retour</a>
                </button>
            </div>
{#            <div>#}
{#                <label for="sortie_nb_inscrits">Nombre de places</label>#}
{#                <input id="sortie_nb_inscrits" type="number" value="{{ sortie.lieuId }}" disabled>#}
{#            </div>#}
            <div>
                <table>
                {% for participant in sortie.users %}
                    <tr>
                        <td><a href="{{ url('user_profil', {'id':participant.id}) }}" class="color">{{ participant.pseudo }}</a></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>

    </form>


{% endblock %}