<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    {% block javascripts %}
        {{ importmap ('app') }}
    {% endblock %}
</head>
<header>
    <nav>
        <ul>
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ url('admin_place') }}">Gérer les lieux</a>
            </li>
            <li>
                <a href="{{ url('admin_site') }}">Gérer les sites</a>
            </li>
            {% endif %}
            <li>
                <a href="{{ url('home_home') }}">Accueil</a>
            </li>
            <li>
                {# <a href="{{ url('user_update', {'id': user.id }) }}">Modifier son compte</a> #}
            </li>
            {% if is_granted('IS_AUTHENTICATED') %}
                <li>
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            {% else%}
                <li>
                    <a href="{{ path('app_login') }}">Se connecter</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<body>

<div class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

{% block body %}




{% endblock %}

</body>
<footer>
</footer>
{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
</html>
