

{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


<div class="style">
    <table >
        <thead>
        <tr>
            <th>*</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Pseudo</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="test">
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.pseudo }}</td>

                <td> <button class="delete"><a href="{{ url('user_desac',{'id': user.id }) }}">Annuler</a></button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
